<header class="p2 fixed top-0 right-0 left-0 bg-aquiz">
  <div class="left">
    <h1 class="mb0 m0 h4 caps"><a href="/" class="white text-decoration-none">Touchbase.xxx – <span>Vol. 1</span></a></h1>
  </div>
</header>

<div class="px2 overflow-hidden py3 mt3">
  <% @tmessages.each do |tmessage| %>
    <div id="<%= tmessage.id %>" class="mb3 max-width-3 clearfix
    <% if tmessage.user =='Nick' %>right clear-both<% end %>
    <% if tmessage.user =='John' %>left clear-both<% end %>
    ">

      <div class="bg-<%= tmessage.user %> px2 py1">
        <p class="h1 mb0">
          <%= tmessage.text %>
        </p>
      </div>
      <span class="small caps mt1
        <% if tmessage.user =='John' %>left<% end %>
        <% if tmessage.user =='Nick' %>right<% end %>"
      >
        <a class="text-decoration-none black" href="#<%= tmessage.id %>">
          <svg class="nudge-down-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16">
            <use xlink:href="#link"></use>
          </svg>
        </a><%= tmessage.created_at.strftime("%b %e %Y ") %>
      </span>
    </div>
  <% end %>

</div>

<h2 id="scrollhelp" class="center">Most Recent</h2>

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0"><defs>
<svg id="link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
  <path d="M0 16 A8 8 0 0 1 8 8 L14 8 A8 8 0 0 1 22 16 L18 16 A4 4 0 0 0 14 12 L8 12 A4 4 0 0 0 4 16 A4 4 0 0 0 8 20 L10 24 L8 24 A8 8 0 0 1 0 16z M22 8 L24 8 A8 8 0 0 1 32 16 A8 8 0 0 1 24 24 L18 24 A8 8 0 0 1 10 16 L14 16 A4 4 0 0 0 18 20 L24 20 A4 4 0 0 0 28 16 A4 4 0 0 0 24 12z"></path>
</svg>
</defs></svg>
