<div class="px2 overflow-hidden py3">
  <% @tmessages.each do |tmessage| %>
    <div id="<%= tmessage.id %>" class="mb3 max-width-3 clearfix
    <% if tmessage.user =='Nick' %>right clear-both<% end %>
    <% if tmessage.user =='John' %>left clear-both<% end %>
    ">

      <div class="bg-<%= tmessage.user %> rounded-2 px2 py1">
        <p class="white h1 mb0">
          <%= tmessage.text %>
        </p>
      </div>
      <span class="small caps mt1
        <% if tmessage.user =='John' %>left<% end %>
        <% if tmessage.user =='Nick' %>right<% end %>"
      >
        <a class="mr1 text-decoration-none" href="#<%= tmessage.id %>">&#x1F517;</a><%= tmessage.created_at.strftime("%b %e %Y ") %>
      </span>
    </div>
  <% end %>
</div>
